<footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Athenaeum</h5>
                <p class="grey-text text-lighten-4">Share your records with the world.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Index</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="/records">Records</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            &copy; <span id="year"></span> Athenaeum
            </div>

            <script>document.getElementById('year').innerHTML = new Date().getFullYear()</script>
          </div>
        </footer>
